@media only screen and (min-width: 340px) {
  .FooterItem {
    width: 45%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 10px;
    .footerItemHR {
      width: 100%;
      border: 0.5px solid rgb(124, 120, 120);
      display: inline;
    }
    .footerItem__title {
      font-size: 17px;
      font-weight: bold;
      color: white;
    }
    .footerItem__texts {
      width: 100%;
      display: flex;
      flex-flow: column wrap;
      gap: 5px;
      padding: 15px;
      .footerItem__text {
        width: 100%;
        text-align: center;
        color: #b6bebb;
        cursor: pointer;
        transition: all;
        transition-duration: 200ms;
        &:hover {
          color: white;
        }
      }
    }
  }
}
